PORT=3000

# DB connection
DB_CONNECTION=mongodb+srv://<dummyUsername>:<dummyPassword>@spiceprices.ejdgr.mongodb.net/test?retryWrites=true&w=majority&appName=spiceprices

CROP_PRICES_API=https://api.kpa.org.in/v1/crop/prices

# OneSignal Config for Push Notifications
ONESIGNAL_APP_ID=dummyAppId
ONESIGNAL_REST_API_KEY=dummyRestApiKey
